/* Chat Index */
.chat-index-area{
	width: 470px;
	height: 670px;
	background-color: white;
}
.chat-index-chat-inner{
	padding: 10px;
}
.chat-index-chat-panel{
	text-decoration: none;
	color: black;
}
.chat-index-chat-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.chat-index-sidebar{
	background-color: #4b5a66;
	height: 670px;
}

/* Chat Detail */
.chat-detail-area{
	width: 470px;
	height: 670px;
	background-color: white;
	padding: 10px;
}
.chat-detail-messages-area{
	height: 650px;
	overflow: scroll;
}
.chat-detail-message-myself{
	/*margin-left: 200px;*/
	clear: both;
	float: right;
	max-width: 200px;
	padding: 5px 20px;
	margin: 5px;
	background-color: #99FF33;
}
.chat-detail-message-myself-img{
	clear: both;
	float: right;
	width: 200px;
	height: 200px;
	margin: 5px;
}

