/* Chat Index */
.chat-index-area{
	width: 470px;
	height: 670px;
	background-color: white;
}
.chat-index-chat-inner{
	padding: 10px;
}
.chat-index-chat-panel{
	text-decoration: none;
	color: black;
}
.chat-index-chat-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.chat-index-sidebar{
	background-color: #4b5a66;
	height: 670px;
}
.chat-index-header-img{
	width: 50px;
	height: 50px;
	margin: 2px;
}
.chat-index-chat-last-message{
	margin-top: 5px;
	font-size: 12px;
}
/* Chat Detail */
.chat-detail-area{
	width: 470px;
	height: 670px;
	background-color: white;
	padding: 10px;
}
.chat-detail-header-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.chat-detail-header-name{
	font-size: 24px;
	text-decoration: none;
	color: black;
}
.chat-detail-messages-area{
	height: 500px;
	overflow: scroll;
	border: 0.1px solid black;
}
.chat-detail-message-myself{
	/*margin-left: 200px;*/
	clear: both;
	float: right;
	max-width: 200px;
	padding: 5px 20px;
	margin: 5px;
	background-color: #99FF33;
}
.chat-detail-message-myself-img{
	clear: both;
	float: right;
	width: 200px;
	height: 200px;
	margin: 5px;
}
.myself-img{
	float: right;
}
.chat-detail-message-others{
	clear: both;
	float: left;
	background-color: #dcdcdc;
	padding: 5px 20px;
	margin: 5px;
	max-width: 200px;
}
.chat-detail-message-others-img{
	width: 200px;
	height: 200px;
	margin: 5px;
}
.chat-detail-user-img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-top: 7px;
	margin-right: 5px;
	border: .1px solid black;
}
.chat-detail-message-not-found{
	display: none;
}
/* Start Group Chat  */
.start-group-chat-area{
	width: 470px;
	height: 670px;
	background-color: white;
	padding: 10px;
}
.start-group-chat-header-selected-people{
	text-align: center;
}
.start-group-chat-header-input-area{
	margin: 7px 0;
}
.start-group-chat-header-input{
	width: 85% !important;
	display: inline-block !important;
}
.start-group-chat-header-button{
	display: inline-block !important;
	margin-left: 5px;
}
.start-group-chat-user-row-image{
	width: 40px;
	height: 40px;
	margin: 0 10px;
}
/* Group Chat Info  */
.group-chat-edit-area{
	width: 470px;
	height: 535px;
	background-color: white;
	padding: 10px;
}
.group-chat-edit-tab{
	background-color: rgba(50, 50, 50, .6);
	/*height: 30px;*/
	color: white;
	height: 45px;
	padding: 10px 15px;
}
.group-chat-edit-tab-link{
	color: white;
	text-decoration: none;
}
.group-chat-edit-tab-link:hover{
	color: white;
}
.group-chat-edit-header{
	background-color: rgba(240, 240, 240, .95);
	padding: 5px;
}
.group-chat-edit-header-img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.group-chat-edit-header-right{
	padding-top: 15px;
}
.group-chat-edit-header-name{
	font-size: 30px;
	text-decoration: none;
	color: black;
}
.group-chat-edit-user-box{
	margin: 10px 3px;
}
.group-chat-edit-user-img{
	width: 50px;
	height: 50px;
	border: 1px solid rgba(50, 50, 50 ,.2);
	border-radius: 50%;
}
.group-chat-edit-user-name{
	margin-left: 10px;
}

/* Group Chat Edit  */
.group-chat-update-area{
	width: 470px;
	height: 670px;
	background-color: white;
	padding: 10px;
}
.group-chat-update-input-btn{
	margin: 10px 0;
}


